#header {
    height: 10em;
    padding: 2em;
/*    margin: 0 0 2em 0;*/
    border: 1px solid black;
}

#header span{
    position: absolute;
    background-color: red;
    color: white;
    padding: 2em;
    margin: 0em;
    /*border: 1px solid black;*/
}
#header a:link {
    color: white;
}

#header span.big {
    min-width: 8em;
    min-height: 8em;
}

#header span.small {
    width: 5em;
    height: 5em;
}

#page {
    margin: 1em 0 10em 0;
    padding: 2em;
    border: 1px solid green;
}

#content {
    margin: 0 20em 0 20em;
    border: 5px solid red;
    border-top: none;
    border-bottom: none;
    padding: 2em;
}

.entry {
    border-bottom: 5px solid red;
    position: relative;
    padding: 0 0 2em 0;
}

.entry h1{
    color: black;
    text-decoration: underline;
    float: left;
}

.entry span.date {
    color: red;
    text-align: right;
    position: absolute;
    right: 0px;
    padding: 2em;
}

.entry p {
    clear: left;
}

.entry div.signum {
    float: none;
    color:red;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 5px solid white;

